$blue: #16A5DF;
$red: #FF334E;
$yellow: #DFC226;
$green: #26D384;
$offBlack: #222;
$offWhite: #ddd;

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-size: 0;
}

html {
	font-size: 16px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4,h5,p,a,span,i,strong,input,button {
	font-size: 1rem;
	font-color: $offBlack;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}


.container {
	max-width: 900px;
	margin: 5rem auto;
	text-align: center;
}

.game {
	transition: 3s linear opacity; 
	opacity: 1;
}

.game.hidden {
	opacity: 0;
}

.board {
	width: 400px;
	margin: auto;
	position: relative;
}

.control-panel {
	width: 170px;
	height: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: $offBlack;
	border-radius: 100%;
	transform: translate(-50%,-50%);
	border: 15px solid $offBlack;
	background: $offWhite;
}

.pad {
	width: 200px;
	height: 200px;
	border: 15px solid $offBlack;
	display: inline-block;
	box-shadow: inset 0 0 40px 0 $offBlack;
}

@mixin glow($color) {
	&.lit {
		background: lighten($color,30);
	}
}

.pad.green {
	background: $green;
	border-top-left-radius: 100%;
	@include glow($green);
}


.pad.red {
	background: $red;
	border-top-right-radius: 100%;
	@include glow($red);
}

.pad.yellow {
	background: $yellow;
	border-bottom-left-radius: 100%;
	@include glow($yellow);
}

.pad.blue {
	background: $blue;
	border-bottom-right-radius: 100%;
	@include glow($blue);
}

.loss-overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: $offBlack;
	text-align: center;	
	color: $offWhite;
	opacity: 1;
	z-index: 2;
	transition: 3s linear opacity;
}

.loss-overlay.hidden {
	visibility: hidden;
	opacity: 0;
	transition: 3s linear opacity;
}

.readout {
	h2 {
		display: inline-block;
	}
}

.footer {
	position: fixed;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 2rem;
}
